# files to ignore
.DS_Store
.env
.project
__pycache__/
data_scraper/*.json
dev.py
*.txt
output.zip
*.log

# dirs to ignore
**/.venv/
**/dev/
**/Scripts/
**/.dbeaver/
**/.ropeproject/
**/.vscode/
**/websocket/